body {
    max-width: 90%;
    margin: 10px auto;
    padding: 0 10px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #333;
    background: #F4F4F4;
    line-height: 1.6;
}

.flexv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flexh {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hcenter {
    justify-content: center;
}

.even-spacing {
    justify-content: space-evenly;
}

.is-left {
    text-align: left;
}

.header {
    padding-bottom: 2rem
}

.vcenter {
    align-items: center;
}

.gap15 {
    gap: 15px;
}

.primary-image {
    width: 400px;
    height: 650px;
}

.preview-image {
    width: 60px;
    height: 98px;
}