<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Drawbot Interface</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
</head>
<body>

<div class="flexv" hx-ext="sse" sse-connect="/event_stream">
    <div class="flexh header" style="justify-content: space-between;">
        <div class="flexv">
            <div class="header flexh" style="align-items:end">
                <div style="font-size: x-large;">Drawbot Controls</div>
                <div style="color: #999999; padding-left: 1rem;">server.drawbot.art</div>
            </div>
            <div hx-get="/machine" hx-trigger="load, every 10s"></div>
        </div>
        <div class="flexv hcenter">
            <div class = "flexh hcenter"><img src="/static/gcode_wrangler_qr.png" style="width: 120px; height: 120px;"></div>
            
            <div style="font-size: x-small;"><a href="https://github.com/ehennenfent/gcode_wrangler">github.com/ehennenfent/gcode_wrangler</a></div>
        </div>
        
    </div>

    <div id="layout" class="flexh even-spacing">
        <div id="leftpane" class="flexv hcenter">
            <div hx-get="/primary_job" hx-trigger="load, next_job from:body, sse:new_job, sse:job_ready, every 15s"></div>
            <div id="control_panel" class="flexh hcenter">
                <button hx-post="/cancel" hx-swap="none">Cancel</button>
                <button hx-post="/run_current" hx-swap="none">Go</button>
                <button hx-post="/next" hx-swap="none">Next</button>
            </div>
        </div>
        <div id="rightpane" class="flexv">
            <div hx-get="/job_list" hx-trigger="load, next_job from:body, sse:new_job, sse:job_ready, every 15s" class="flexv"></div>
        </div>
    </div>

</div>

</body>
</html>