<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Drawbot Interface</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>
<body>

<div class="flexv">

    <div class="header">
        <div class="pure-menu-heading">Drawbot Controls</div>
    </div>

    <div id="layout" class="flexh even-spacing">
        <div id="leftpane" class="flexv hcenter">
            <div hx-get="/primary_job" hx-trigger="load, next_job from:body"></div>
            <div id="control_panel" class="flexh hcenter">
                <button hx-post="/pause" hx-swap="none">Pause</button>
                <button hx-post="/run_current" hx-swap="none">Go</button>
                <button hx-post="/next" hx-swap="none">Next</button>
            </div>
        </div>
        <div id="rightpane" class="flexv">
            <div hx-get="/job_list" hx-trigger="load, next_job from:body, every 10s" class="flexv"></div>
        </div>
    </div>

</div>

</body>
</html>